Nick = "nick"
Realname = "name"
Channel = "#channel"
Server = "irc.coolserver.none:6667"
TLS = false
InsecureTLS = false
BashUrl = "http://bash.im/random"
CommandTimeout = 30
AdminHosts = ["admin.net", "Clk-13664E9D"]

# IRC PRIVMSG: : + NICK + ! + USER + @ + HOST + <space> + PRIVMSG + <space> + Channel + <space> + : + \r\n
#              1 + var  + 1 + var  + 1 + var  +    1    +    6    +    1    +    var  +    1    + 1 +  2
# total: 512 - 15 + vars bytes
# for now from the top of my head
MaxLineLength = 310
BackupTimeout = 300
CrawlTimeout = 600
RandomLimit = 460000
Database = "gobot.boltdb"
APIJsonLink="https://min-api.cryptocompare.com/data/pricemulti?fsyms=BTC&tsyms=USD"
Password = "changepassword"
Ignore = ["anotherbot"]
TitleTimeout = 3
TitleLimit = 3
[CityMap]
"крд" = "Krasnodar,ru"
"спб" = "Sankt-Peterburg,ru"
"мск" = "Moskva,ru"
"нетанья" = "Netanya,il"
